bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/BPSR-SharpCombat/electron/app/
/BPSR-SharpCombat/electron/node_modules/
/BPSR-SharpCombat/electron/server/
/BPSR-SharpCombat/electron/package-lock.json
/BPSR-SharpCombat/electron/dist/