name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install dependencies
        run: |
          cd BPSR-SharpCombat/electron
          npm install

      - name: Build and Release
        env:
          GH_TOKEN: ${{ secrets.BPSR_BUILD_TOKEN }}
        run: |
          cd BPSR-SharpCombat/electron
          node ./build.js --publishRuntime=win-x64 --selfContained=true --package --platform=win --publish=always
